@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-dark: #1e1e1e;
  --color-bg-primary: #e6e5e0;
  --color-primary: #dcded3;
  --color-secondary-navbar: #d0c8b5;
  --color-secondary: #243551;
  --color-button: #1e2939;
  --shadow-3xl: 0px 0px 3px 1px #b3bec3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}